<app-header title="Lista de Contatos"></app-header>
<button routerLink="/"> Contatos </button>
<button routerLink="/about"> About </button>

<router-outlet></router-outlet>


<!--<br><br> {{meuinput}}-->
<!--
<body>
  <br>
   <h4>Escolha uma cidade!</h4>
   <br>
<ul class="list-group">
   <li class="list-group-item">Lisboa</li>
   <li class="list-group-item">Porto</li>
   <li class="list-group-item">Aveiro</li>
   <li class="list-group-item">Coimbra</li>
   <li class="list-group-item">Bragança</li>
</ul>
<div class="center">
 <button type="button" class="btn btn-success">Confirma</button>
 <button type="button" class="btn btn-danger">Cancela</button>
 </div>

<button
  [disabled] = "isButtonDisabled"
  (click) = "executarAcao1()"
  (dblclick) = "executarAcao2('Novo Label')">
  {{labelButton}}
</button>
-->
